基于CC2530 NODERED实验/6.NODERED平台控制LED灯实验/LED控制.json
[
    {
        "id": "2693860dd5df3f71",
        "type": "tab",
        "label": "课程----LED灯控制流程",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6515bfea14061157",
        "type": "ui_text",
        "z": "2693860dd5df3f71",
        "group": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED模块流程",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "620e982e01419fd9",
        "type": "function",
        "z": "2693860dd5df3f71",
        "name": "function 2",
        "func": "var flag = msg.payload;\nif (flag==\"LED1,ON\")\n{\n    msg = { payload: \"$LED1,1\"}; \n}\nif (flag == \"LED1,OFF\")\n{\n    msg = { payload: \"$LED1,0\" };\n}\nif (flag == \"LED2,ON\") {\n    msg = { payload: \"$LED2,1\" };\n}\nif (flag == \"LED2,OFF\") {\n    msg = { payload: \"$LED2,0\" };\n}\nif (flag == \"LED3,ON\") {\n    msg = { payload: \"$LED3,1\" };\n}\nif (flag == \"LED3,OFF\") {\n    msg = { payload: \"$LED3,0\" };\n}\nif (flag == \"LED4,ON\") {\n    msg = { payload: \"$LED4,1\" };\n}\nif (flag == \"LED4,OFF\") {\n    msg = { payload: \"$LED4,0\" };\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "8874167fc9a745c5",
                "6c468253d53a2855"
            ]
        ]
    },
    {
        "id": "8874167fc9a745c5",
        "type": "tcp out",
        "z": "2693860dd5df3f71",
        "name": "指令输出--9080",
        "host": "",
        "port": "9080",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c468253d53a2855",
        "type": "debug",
        "z": "2693860dd5df3f71",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "0fa3955cd8f9e941",
        "type": "ui_switch",
        "z": "2693860dd5df3f71",
        "name": "",
        "label": "LED2开关",
        "tooltip": "",
        "group": "fb7a3c3821b707d8",
        "order": 2,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED2,ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED2,OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "620e982e01419fd9",
                "a0b6214e740bceec"
            ]
        ]
    },
    {
        "id": "a0b6214e740bceec",
        "type": "debug",
        "z": "2693860dd5df3f71",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "fccbc20e072582aa",
        "type": "debug",
        "z": "2693860dd5df3f71",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf5a7374359b2d87",
        "type": "ui_switch",
        "z": "2693860dd5df3f71",
        "name": "",
        "label": "LED1开关",
        "tooltip": "",
        "group": "fb7a3c3821b707d8",
        "order": 1,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED1,ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED1,OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "620e982e01419fd9",
                "a0b6214e740bceec"
            ]
        ]
    },
    {
        "id": "33c77ddadeb3e1e4",
        "type": "ui_switch",
        "z": "2693860dd5df3f71",
        "name": "",
        "label": "LED3开关",
        "tooltip": "",
        "group": "fb7a3c3821b707d8",
        "order": 3,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED3,ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED3,OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "620e982e01419fd9",
                "a0b6214e740bceec"
            ]
        ]
    },
    {
        "id": "55be5e6620a25dfa",
        "type": "ui_switch",
        "z": "2693860dd5df3f71",
        "name": "",
        "label": "LED4开关",
        "tooltip": "",
        "group": "fb7a3c3821b707d8",
        "order": 4,
        "width": "8",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LED4,ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LED4,OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "620e982e01419fd9",
                "a0b6214e740bceec"
            ]
        ]
    },
    {
        "id": "856bb68889632346",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "9b52e47f3f6dca76",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "45c3f8b9335c0abc",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "e4715ce8300f679a",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "83344b7f9d4a8445",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 11,
        "height": 1
    },
    {
        "id": "9512fdeb9901f12b",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "ca699d93ea44d837",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 11,
        "height": 1
    },
    {
        "id": "8b108dae295b4003",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "d1ca8e66ab660c86",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 11,
        "height": 1
    },
    {
        "id": "3bb85d73ebbc89d8",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 11,
        "height": 1
    },
    {
        "id": "a99e1ea46c92769a",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 11,
        "height": 1
    },
    {
        "id": "8478d1f3b47ab4ed",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 11,
        "height": 1
    },
    {
        "id": "c870d6754e6d7a4c",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "7d730021c563f5ab",
        "order": 5,
        "width": "9",
        "height": "7"
    },
    {
        "id": "90ac5b3ef3f4f3fc",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "29f4c8bc05523368",
        "order": 6,
        "width": "9",
        "height": "7"
    },
    {
        "id": "dccb99312e94d627",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "388273cc5b4cfd56",
        "order": 7,
        "width": "8",
        "height": "4"
    },
    {
        "id": "5ba1d5e8bda0a48b",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "625a37bb4b0a7494",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "eec803bcd8b61891",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "445f4597d1d553b6",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "2fcd9043baad4072",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "713c2a192b39d0b1",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba6f6e222b78c909",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "388273cc5b4cfd56",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ad8e5d9481229a5",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "625a37bb4b0a7494",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a36a7680c5ed04d",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "445f4597d1d553b6",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "b54ac8fd19a86385",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "713c2a192b39d0b1",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6c3ad9e0f3c77ce",
        "type": "ui_spacer",
        "z": "2693860dd5df3f71",
        "name": "spacer",
        "group": "a86416fbafdb4e69",
        "order": 5,
        "width": "8",
        "height": "1"
    },
    {
        "id": "fb7a3c3821b707d8",
        "type": "ui_group",
        "name": "LED控制",
        "tab": "2ed876fe35453b73",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29f4c8bc05523368",
        "type": "ui_group",
        "name": "back2",
        "tab": null,
        "order": 3,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ed876fe35453b73",
        "type": "ui_tab",
        "name": "NODE RED教程---LED模块",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]