基于STM32 NODERED实验/1.NODERED平台显示温湿度实验/温湿度显示.json
[
    {
        "id": "2106315d01513a95",
        "type": "tab",
        "label": "课程---温湿度数据显示",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe33542e9cb74c4b",
        "type": "ui_gauge",
        "z": "2106315d01513a95",
        "name": "",
        "group": "de6464de3811c562",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "温度",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ee8e21935fd9624",
        "type": "ui_chart",
        "z": "2106315d01513a95",
        "name": "",
        "group": "de6464de3811c562",
        "order": 1,
        "width": "10",
        "height": "6",
        "label": "温度曲线",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2cafca0636f1ff4b",
        "type": "ui_gauge",
        "z": "2106315d01513a95",
        "name": "",
        "group": "de6464de3811c562",
        "order": 4,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "湿度",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "fa9915f442aa522c",
        "type": "ui_chart",
        "z": "2106315d01513a95",
        "name": "",
        "group": "de6464de3811c562",
        "order": 3,
        "width": "10",
        "height": "6",
        "label": "湿度曲线",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fdfee8177ab7867a",
        "type": "tcp in",
        "z": "2106315d01513a95",
        "name": "",
        "server": "server",
        "host": "",
        "port": "9080",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "3b38c9535a7fa934",
                "465caad1e7ef5d00"
            ]
        ]
    },
    {
        "id": "627bc188628ceba7",
        "type": "function",
        "z": "2106315d01513a95",
        "name": "function 10",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "fe33542e9cb74c4b",
                "5ee8e21935fd9624",
                "2edf6580a32643f7"
            ]
        ]
    },
    {
        "id": "8f60dcf499a26e41",
        "type": "function",
        "z": "2106315d01513a95",
        "name": "function 11",
        "func": "msg.payload = msg.payload.hum\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 240,
        "wires": [
            [
                "2cafca0636f1ff4b",
                "fa9915f442aa522c",
                "057d09dd8d59e7bb"
            ]
        ]
    },
    {
        "id": "3b38c9535a7fa934",
        "type": "debug",
        "z": "2106315d01513a95",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 60,
        "wires": []
    },
    {
        "id": "2edf6580a32643f7",
        "type": "debug",
        "z": "2106315d01513a95",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "057d09dd8d59e7bb",
        "type": "debug",
        "z": "2106315d01513a95",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "465caad1e7ef5d00",
        "type": "function",
        "z": "2106315d01513a95",
        "name": "function 12",
        "func": "var l1 = \"\\\"temp\\\":\"+((msg.payload[0] - 0x30) * 10 + (msg.payload[1] - 0x30));\nvar l2 = \"\\\"hum\\\":\"+((msg.payload[2] - 0x30) * 10 + (msg.payload[3] - 0x30));\nvar JSONString = \"{\" + l1 + ',' + l2 + \"}\";\nvar jsonObj = JSON.parse(JSONString);\nmsg.payload = jsonObj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "627bc188628ceba7",
                "8f60dcf499a26e41",
                "448f13013f2fde76"
            ]
        ]
    },
    {
        "id": "448f13013f2fde76",
        "type": "debug",
        "z": "2106315d01513a95",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "de6464de3811c562",
        "type": "ui_group",
        "name": "温湿度数据",
        "tab": "682ba5494c74ca74",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "682ba5494c74ca74",
        "type": "ui_tab",
        "name": "NODE RED教程---温湿度数据显示",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]